### macOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Shamir 5/8 
# 8058863613afa154c55fe1c941a1ec02f7d11e1cefaee1648fd6501c1645128ccf13a2f9a13839fd09dc53f38f93efff450fde0d288f4bb4610053f9f635b922d39dc3f31bb0555df7fcd37d458f46987c4c863d816d302c147f8a0d72d8150757f46fcb8d2647a208bbf563645a83c61506378952d311a63ac5097126ad0420951059b6f9ea45f027c0475b55fc361f653af5022a4fa7c420c02387b269bba9605ce0e53cca1e852c9a6071a893ee46502e5b03797f54036139dcafa43c52a3713cf860180790cbdad4d7b41e5acd44e34eef6363585455c92922c48d8d7046d2aecbc0fd414bd60ddd8095cffc30031883cd420a13874c8ec04fbf32407c70cba